.primary {
    font-size: 15px;
    border: 1px solid lightseagreen; 
    border-radius: 0.5rem;
    padding: 10px 30px;
    background-color: transparent;
    transition: 0.3s;
    font-family: 'Nunito', sans-serif;
    margin: 10px;
  }

  .secondary {
    font-size: 15px;
    border: 1px solid lightseagreen; 
    border-radius: 0.5rem;
    padding: 10px 30px;
    background-color: transparent;
    transition: 0.4s;
    font-family: 'Nunito', sans-serif;
    margin: 10px;
  }

  button.primary:hover {
    color:white;
    background-color: rgb(249, 136, 117);
}

button.secondary:hover {
    color:white;
    background-color: rgb(116, 200, 116);
}