.register-container{

    max-width: 500px;
    margin: 0 auto;
    padding: 3% 3%;
    border-radius: 0.5rem;
    border: 2px solid lightseagreen;;
    /* box-shadow: 5px 10px 18px rgb(200,238,251); */
    background-color: transparent;
    
        }
  
        input {
          width: 96%;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 0.2rem;
          border: 1px solid lightseagreen;;
          margin-top: 5px;
        }
  
  
        .errorMsg {
          color: tomato;
          margin-top: -10px;
        }
    
  
      .error-input {
          border: 1px solid tomato;
      }
  
      label {
        margin-bottom: 5px;
      }
  
      .reg-button{
        text-align: center;
      }