.container {
    margin: 0 auto;
    text-align: center;
}

.list {
    list-style-type: none;
    text-align: center;
    position: relative;
  }

  li {
      padding: 10px;
      transition: 0.2s;
  }

  /* li:hover {
    transition-timing-function: ease-in;
    background-color:rgb(32, 178, 171);
    color: snow;
  } */

  li:nth-child(even) {
    background-color:bisque;
   }

  .title {
      text-align: center;
      margin-bottom: 4rem;
  }

  .img-left {
      width: 25%;
      position: absolute;
      left: 5rem;
  }
  
  .img-right {
      width: 15%;
      position: absolute;
      left: 60rem;
      top: 20rem

  }

  .homeDisplay {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
  }

  .logout {
      text-decoration: none;
  }